@import '../../../styles/tools';
@import '../../../styles/theme';

.TextInput {
  width: 100%;

  &:focus {
    color: $primary300;
  }

  & > .text-input--input-box {
    height: calc(#{ $fontSize4 } + #{ $padding1 * 2 });
    width: 100%;

    & > input {
      display: block;
      width: 100%;
      height: 100%;
      @include padding1(top bottom);
      outline: none;
      border: none;
      border-bottom: 1px solid $default300;
      background-color: $transparent;
      font-size: $fontSize4;
    }
  }
}