@import '../../../styles/tools';
@import '../../../styles/theme';

.BasicButton {
  @include flexContainer(row, nowrap, center, center);
  height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 14px;
  @include padding1(all);
  @include margin1(left right);
  cursor: pointer;
  transition: background-color 300ms;
  user-select: none;

  &.BasicButton--full-width {
    width: calc(100% - 8px);
  }

  &.BasicButton--small {
    @include padding1(all);
    height: 22px;
    font-size: 12px;
  }

  &.BasicButton--large {
    @include padding2(all);
    height: 34px;
    font-size: 16px;
  }

  &.BasicButton--outlined {
    border: 1px solid $primary100;
    border-radius: 4px;
    color: $primary100;

    &.BasicButton--secondary {
      border-color: $secondary100;
      color: $secondary100;
    }

    &:hover {
      color: $primary300;
      border-color: $primary300;
      background-color: $primary25;

      &.BasicButton--secondary {
        border-color: $secondary300;
        color: $secondary300;
        background-color: $secondary25;
      }
    }

    &:active {
      color: $primary400;
      border-color: $primary400;
      background-color: $primary50;

      &.BasicButton--secondary {
        border-color: $secondary400;
        color: $secondary400;
        background-color: $secondary50;
      }
    }

    &.BasicButton--disabled {
      color: $default100;
      border-color: $default100;
      background-color: $transparent;
    }
  }

  &.BasicButton--filled {
    background-color: $primary100;
    border-radius: 4px;
    color: $contrastWhite;

    &.BasicButton--secondary {
      background-color: $secondary100;
    }

    &:hover {
      background-color: $primary300;

      &.BasicButton--secondary {
        background-color: $secondary200;
      }

      &.BasicButton--disabled {
        background-color: $default50;
        color: $default100;
      }
    }

    &:active {
      background-color: $primary400;

      &.BasicButton--secondary {
        background-color: $secondary400;
      }

      &.BasicButton--disabled {
        background-color: $default50;
        color: $default100;
      }
    }

    &.BasicButton--disabled {
      background-color: $default50;
      color: $default100;

      /*&:hover {
        background-color: $default50;
        color: $default100;
      }

      &:active {
        background-color: $default50;
        color: $default100;
      }*/
    }
  }

  &.BasicButton--text {
    color: $primary100;

    &:hover {
      color: $primary300;
      background-color: $primary25;
      border-radius: 4px;
    }

    &:active {
      color: $primary400;
      background-color: $primary50;
    }

    &.BasicButton--disabled {
      color: $default100;
      background-color: $transparent;
    }
  }

  &.BasicButton--disabled {
    cursor: default;
  }

  & > .BasicButton--content {
    @include flexContainer(column, nowrap, center, center)
  }
}