@import '../../CustomTable';

.ShadowTh {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  background-color: $default100Color;
  transition: width 300ms, height 300ms;

  &[ data-moving='true' ] {
    visibility: visible;
  }
}