@import '../../CustomTable';

@keyframes showOn {
  0% {
    opacity: 0;
    visibility: hidden;
    // height: 0;
  }
  1% {
    opacity: 0.01;
    visibility: visible;
    // height: 2px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    // height: 200px;
  }
}

@keyframes showOff {
  0% {
    opacity: 1;
    visibility: visible;
    // height: 200px;
  }
  99% {
    opacity: 0.01;
    visibility: visible;
    // height: 2px;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    // height: 0;
  }
}

.ColumnsMenu {
  width: 282px;
  height: 200px;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms;
  box-sizing: border-box;

  &[ data-visible='true' ] {
    animation-name: showOn;
    animation-duration: 400ms;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  &[ data-visible='false' ] {
    animation-name: showOff;
    animation-duration: 400ms;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  & > .columns-menu--content {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    padding: 16px;

    & > .columns-menu--content--head {
      height: 24px;
      width: 100%;
      padding: 4px 0;
      @include containerFlex(row, nowrap, space-between, center);

      & > .head--label {
        flex: 0 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .head--fixed-all {
        flex: 0 0 auto;
        @include containerFlex(row, nowrap, flex-start, center);
        width: 75px;

        & > .fixed-all--checkbox {
          width: 24px;
        }
      }
    }

    & > .columns-menu--content--items {
      height: calc(100% - 24px);
      width: 100%;

      & .columns-menu--item {
        @include containerFlex(row, nowrap, space-between, center);
        padding: 4px 0;
        user-focus: none;
        width: 100%;

        /*& > .item--left-box {
          width: calc(100% - 75px);
        }*/

        & > .item--left-box,
        & > .item--right-box {
          & > .item--checkbox-box {
            width: 32px;
            flex: 0 0 auto;
            @include containerFlex(column, nowrap, center, center);
            height: 100%;
          }
        }

        & > .item--left-box {
          width: calc(100% - 75px);
          flex: 0 0 auto;
          @include containerFlex(row, nowrap, flex-start, center);

          & > .item--label-box {
            width: calc(100% - 32px);
            flex: 0 0 auto;
            @include containerFlex(row, nowrap, flex-start, center);
            height: 100%;
            user-select: none;
            font-size: 12px;
          }
        }

        & > .item--right-box {
          flex: 0 0 auto;
          width: 75px;
          @include containerFlex(row, nowrap, center, center);
        }
      }
    }
  }
}