@import '../../styles/tools';

$scrollButtonColor: rgba(150,150,150,1);
$scrollButtonHoverColor: rgba(110,110,110,1);
$scrollButtonActiveColor: rgba(0,0,0,1);

.Tabs {
  box-sizing: border-box;
  width: 100%;
  @include flexContainer(row, nowrap, space-between, center);
  /*display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;*/

  & > .Tabs-scroll-icon-box {
    flex: 0 0 auto;
    @include flexContainer(column, nowrap, center, center);
    /*display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;*/
    position: relative;
    width: 32px;
    height: 100%;

    & > svg {

      & > path {
        stroke: $scrollButtonColor;
        // fill: $scrollButtonColor;
        fill: none;
        pointer-events: none;
      }

      &:hover {
        transform-origin: center;
        transform: scale(1.2,1.2);
        -ms-transform-origin: center;
        -ms-transform: scale(1.2,1.2);

        & > path {
          stroke: $scrollButtonHoverColor;
          // fill: $scrollButtonHoverColor;
        }
      }

      &:active {
        transform-origin: center;
        transform: scale(0.8,0.8);
        -ms-transform-origin: center;
        -ms-transform: scale(0.8,0.8);

        & > path {
          stroke: $scrollButtonActiveColor;
          // fill: $scrollButtonActiveColor;
        }
      }
    }
  }

  & > .Tabs-scrollable-area {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;

    & > .Tabs-scroller {
      width: 100%;
      height: 100%;
      // overflow-x: scroll;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
      position: relative;
    }
  }
}