@import '../../../styles/tools';
@import '../../../styles/theme';

.Label {
  width: 100%;
  position: relative;
  height: #{ $fontSize4 + $padding1 * 2 };

  & > label {
    font-size: $fontSize4;
    position: absolute;
    left: 0;
    top: #{ $fontSize4 + $padding1 };
    display: block;
    height: 100%;
    @include padding1(top bottom);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: top 300ms, font-size 300ms;
    -moz-transition: top 300ms, font-size 300ms;
  }

  &.not-empty {
    & > label {
      top: 0;
      font-size: $fontSize3;
    }
  }
}