@mixin containerFlex(
  $direction: column,
  $wrapping: nowrap,
  $justifyContent: flex-start,
  $alignItems: flex-start
) {
  display: flex;
  flex-flow: $direction $wrapping;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin rowFlex(
  $wrapping: nowrap,
  $justifyContent: flex-start,
  $alignItems: flex-start
) {
  @include containerFlex( row, $wrapping, $justifyContent, $alignItems );
  width: 100%;
}

@mixin colFlex( $colSize: 16, $colCount: 16 ) {
  width: $colSize / $colCount * 100%;
  height: 100%;
  flex: 0 0 auto;
}

.container-flex-column-nowrap-start-start {
  @include containerFlex( column, nowrap );
}

.container-flex-column-nowrap-center-start {
  @include containerFlex(column, nowrap, center);
}

.row-flex-nowrap-start-start {
  @include rowFlex();
}

.row-flex-nowrap-start-center {
  @include rowFlex(nowrap, flex-start, center);
}

.row-flex-wrap-start-start {
  @include rowFlex( wrap );
}

.col-flex-16-16,
.col-flex-sm-16-16,
.col-flex-md-16-16,
.col-flex-lg-16-16,
.col-flex-xl-16-16
{
  @include colFlex();
}

.col-flex-15-16,
.col-flex-sm-15-16,
.col-flex-md-15-16,
.col-flex-lg-15-16,
.col-flex-xl-15-16
{
  @include colFlex( 15, 16 )
}

.col-flex-14-16,
.col-flex-sm-14-16,
.col-flex-md-14-16,
.col-flex-lg-14-16,
.col-flex-xl-14-16
{
  @include colFlex( 14, 16 );
}

.col-flex-13-16,
.col-flex-sm-13-16,
.col-flex-md-13-16,
.col-flex-lg-13-16,
.col-flex-xl-13-16
{
  @include colFlex( 13, 16 )
}

.col-flex-12-16,
.col-flex-sm-12-16,
.col-flex-md-12-16,
.col-flex-lg-12-16,
.col-flex-xl-12-16
{
  @include colFlex( 12, 16 )
}

.col-flex-11-16,
.col-flex-sm-11-16,
.col-flex-md-11-16,
.col-flex-lg-11-16,
.col-flex-xl-11-16
{
  @include colFlex( 11, 16 )
}

.col-flex-10-16,
.col-flex-sm-10-16,
.col-flex-md-10-16,
.col-flex-lg-10-16,
.col-flex-xl-10-16
{
  @include colFlex( 10, 16 );
}

.col-flex-9-16,
.col-flex-sm-9-16,
.col-flex-md-9-16,
.col-flex-lg-9-16,
.col-flex-xl-9-16
{
  @include colFlex( 9, 16 )
}

.col-flex-8-16,
.col-flex-sm-8-16,
.col-flex-md-8-16,
.col-flex-lg-8-16,
.col-flex-xl-8-16
{
  @include colFlex( 8, 16 )
}

.col-flex-7-16,
.col-flex-sm-7-16,
.col-flex-md-7-16,
.col-flex-lg-7-16,
.col-flex-xl-7-16
{
  @include colFlex( 7, 16 )
}

.col-flex-6-16,
.col-flex-sm-6-16,
.col-flex-md-6-16,
.col-flex-lg-6-16,
.col-flex-xl-6-16
{
  @include colFlex( 6, 16 )
}

.col-flex-5-16,
.col-flex-sm-5-16,
.col-flex-md-5-16,
.col-flex-lg-5-16,
.col-flex-xl-5-16
{
  @include colFlex( 5, 16 )
}

.col-flex-4-16,
.col-flex-sm-4-16,
.col-flex-md-4-16,
.col-flex-lg-4-16,
.col-flex-xl-4-16
{
  @include colFlex( 4, 16 )
}

.col-flex-3-16,
.col-flex-sm-3-16,
.col-flex-md-3-16,
.col-flex-lg-3-16,
.col-flex-xl-3-16
{
  @include colFlex( 3, 16 )
}

.col-flex-2-16,
.col-flex-sm-2-16,
.col-flex-md-2-16,
.col-flex-lg-2-16,
.col-flex-xl-2-16
{
  @include colFlex( 2, 16 )
}

.col-flex-1-16,
.col-flex-sm-1-16,
.col-flex-md-1-16,
.col-flex-lg-1-16,
.col-flex-xl-1-16
{
  @include colFlex( 1, 16 )
}

.full-width {
  width: 100%;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}

// xs --- Extra small devices (portrait phones, less than 576px)
@media only screen and ( max-width: 575px ) {
  .col-flex-16-16 {
    @include colFlex();
  }

  .col-flex-15-16 {
    @include colFlex( 15, 16 )
  }

  .col-flex-14-16 {
    @include colFlex( 14, 16 );
  }

  .col-flex-13-16 {
    @include colFlex( 13, 16 )
  }

  .col-flex-12-16 {
    @include colFlex( 12, 16 )
  }

  .col-flex-11-16 {
    @include colFlex( 11, 16 )
  }

  .col-flex-10-16 {
    @include colFlex( 10, 16 );
  }

  .col-flex-9-16 {
    @include colFlex( 9, 16 )
  }

  .col-flex-8-16 {
    @include colFlex( 8, 16 )
  }

  .col-flex-7-16 {
    @include colFlex( 7, 16 )
  }

  .col-flex-6-16 {
    @include colFlex( 6, 16 )
  }

  .col-flex-5-16 {
    @include colFlex( 5, 16 )
  }

  .col-flex-4-16 {
    @include colFlex( 4, 16 )
  }

  .col-flex-3-16 {
    @include colFlex( 3, 16 )
  }

  .col-flex-2-16 {
    @include colFlex( 2, 16 )
  }

  .col-flex-1-16 {
    @include colFlex( 1, 16 )
  }
}

// sm --- Small devices (landscape phones, 576px and up)
@media only screen and ( min-width: 576px ) {
  .col-flex-sm-16-16 {
    @include colFlex();
  }

  .col-flex-sm-15-16 {
    @include colFlex( 15, 16 )
  }

  .col-flex-sm-14-16 {
    @include colFlex( 14, 16 );
  }

  .col-flex-sm-13-16 {
    @include colFlex( 13, 16 )
  }

  .col-flex-sm-12-16 {
    @include colFlex( 12, 16 )
  }

  .col-flex-sm-11-16 {
    @include colFlex( 11, 16 )
  }

  .col-flex-sm-10-16 {
    @include colFlex( 10, 16 );
  }

  .col-flex-sm-9-16 {
    @include colFlex( 9, 16 )
  }

  .col-flex-sm-8-16 {
    @include colFlex( 8, 16 )
  }

  .col-flex-sm-7-16 {
    @include colFlex( 7, 16 )
  }

  .col-flex-sm-6-16 {
    @include colFlex( 6, 16 )
  }

  .col-flex-sm-5-16 {
    @include colFlex( 5, 16 )
  }

  .col-flex-sm-4-16 {
    @include colFlex( 4, 16 )
  }

  .col-flex-sm-3-16 {
    @include colFlex( 3, 16 )
  }

  .col-flex-sm-2-16 {
    @include colFlex( 2, 16 )
  }

  .col-flex-sm-1-16 {
    @include colFlex( 1, 16 )
  }
}

// md --- Medium devices (tablets, 768px and up)
@media only screen and ( min-width: 768px ) {
  .col-flex-md-16-16 {
    @include colFlex();
  }

  .col-flex-md-15-16 {
    @include colFlex( 15, 16 )
  }

  .col-flex-md-14-16 {
    @include colFlex( 14, 16 );
  }

  .col-flex-md-13-16 {
    @include colFlex( 13, 16 )
  }

  .col-flex-md-12-16 {
    @include colFlex( 12, 16 )
  }

  .col-flex-md-11-16 {
    @include colFlex( 11, 16 )
  }

  .col-flex-md-10-16 {
    @include colFlex( 10, 16 );
  }

  .col-flex-md-9-16 {
    @include colFlex( 9, 16 )
  }

  .col-flex-md-8-16 {
    @include colFlex( 8, 16 )
  }

  .col-flex-md-7-16 {
    @include colFlex( 7, 16 )
  }

  .col-flex-md-6-16 {
    @include colFlex( 6, 16 )
  }

  .col-flex-md-5-16 {
    @include colFlex( 5, 16 )
  }

  .col-flex-md-4-16 {
    @include colFlex( 4, 16 )
  }

  .col-flex-md-3-16 {
    @include colFlex( 3, 16 )
  }

  .col-flex-md-2-16 {
    @include colFlex( 2, 16 )
  }

  .col-flex-md-1-16 {
    @include colFlex( 1, 16 )
  }
}

// lg --- Large devices (desktops, 992px and up)
@media only screen and ( min-width: 992px ) {
  .col-flex-lg-16-16 {
    @include colFlex();
  }

  .col-flex-lg-15-16 {
    @include colFlex( 15, 16 )
  }

  .col-flex-lg-14-16 {
    @include colFlex( 14, 16 );
  }

  .col-flex-lg-13-16 {
    @include colFlex( 13, 16 )
  }

  .col-flex-lg-12-16 {
    @include colFlex( 12, 16 )
  }

  .col-flex-lg-11-16 {
    @include colFlex( 11, 16 )
  }

  .col-flex-lg-10-16 {
    @include colFlex( 10, 16 );
  }

  .col-flex-lg-9-16 {
    @include colFlex( 9, 16 )
  }

  .col-flex-lg-8-16 {
    @include colFlex( 8, 16 )
  }

  .col-flex-lg-7-16 {
    @include colFlex( 7, 16 )
  }

  .col-flex-lg-6-16 {
    @include colFlex( 6, 16 )
  }

  .col-flex-lg-5-16 {
    @include colFlex( 5, 16 )
  }

  .col-flex-lg-4-16 {
    @include colFlex( 4, 16 )
  }

  .col-flex-lg-3-16 {
    @include colFlex( 3, 16 )
  }

  .col-flex-lg-2-16 {
    @include colFlex( 2, 16 )
  }

  .col-flex-lg-1-16 {
    @include colFlex( 1, 16 )
  }
}

// xl --- Extra large devices (large desktops, 1200px and up)
@media only screen and ( min-width: 1200px ) {
  .col-flex-xl-16-16 {
    @include colFlex();
  }

  .col-flex-xl-15-16 {
    @include colFlex( 15, 16 )
  }

  .col-flex-xl-14-16 {
    @include colFlex( 14, 16 );
  }

  .col-flex-xl-13-16 {
    @include colFlex( 13, 16 )
  }

  .col-flex-xl-12-16 {
    @include colFlex( 12, 16 )
  }

  .col-flex-xl-11-16 {
    @include colFlex( 11, 16 )
  }

  .col-flex-xl-10-16 {
    @include colFlex( 10, 16 );
  }

  .col-flex-xl-9-16 {
    @include colFlex( 9, 16 )
  }

  .col-flex-xl-8-16 {
    @include colFlex( 8, 16 )
  }

  .col-flex-xl-7-16 {
    @include colFlex( 7, 16 )
  }

  .col-flex-xl-6-16 {
    @include colFlex( 6, 16 )
  }

  .col-flex-xl-5-16 {
    @include colFlex( 5, 16 )
  }

  .col-flex-xl-4-16 {
    @include colFlex( 4, 16 )
  }

  .col-flex-xl-3-16 {
    @include colFlex( 3, 16 )
  }

  .col-flex-xl-2-16 {
    @include colFlex( 2, 16 )
  }

  .col-flex-xl-1-16 {
    @include colFlex( 1, 16 )
  }
}
