// there are config of style variables

//colors
$primary25 : rgba(183,220,255,1);
$primary50 : rgba(71,166,255,1);
$primary100: rgba(30,144,255,1);
$primary200: rgba(28,134,238,1);
$primary300: rgba(24,116,205,1);
$primary400: rgba(16,78,139,1);

$default50 : rgba(230,230,230,1);
$default75 : rgba(193,193,193,1);
$default100: rgba(153,153,153,1);
$default200: rgba(112,112,112,1);
$default300: rgba(71,71,71,1);
$default400: rgba(31,31,31,1);

$secondary25 : rgba(255,200,200,1);
$secondary50 : rgba(255,169,169,1);
$secondary100: rgba(255,128,128,1);
$secondary200: rgba(255,84,84,1);
$secondary300: rgba(255,54,54,1);
$secondary400: rgba(255,0,0,1);

$contrastWhite: rgba(255,255,255,1);
$contrastBlack: rgba(0,0,0,1);

$transparent: rgba(255,255,255,0);

//padding
$padding0: 0;
$padding1: 4px;
$padding2: 8px;
$padding3: 12px;
$padding4: 16px;
$padding5: 20px;
$padding6: 24px;
$padding7: 28px;
$padding8: 32px;

//margin
$margin0: 0;
$margin1: 4px;
$margin2: 8px;
$margin3: 12px;
$margin4: 16px;
$margin5: 20px;
$margin6: 24px;
$margin7: 28px;
$margin8: 32px;

//font-size
$fontSize0: 0;
$fontSize1: 4px;
$fontSize2: 8px;
$fontSize3: 12px;
$fontSize4: 16px;
$fontSize5: 20px;
$fontSize6: 24px;
$fontSize7: 28px;
$fontSize8: 32px;