@import "./theme";

@mixin padding($side: all, $value: 0) {
  @if $side == all {
    padding: $value;
  } @else {
    @each $item in $side {
      padding-#{ $item }: $value;
    }
  }
}

@mixin padding0($side) {
  @include padding($side, $padding0);
}

@mixin padding1($side) {
  @include padding($side, $padding1);
}

@mixin padding2($side) {
  @include padding($side, $padding2);
}

@mixin padding3($side) {
  @include padding($side, $padding3);
}

@mixin padding4($side) {
  @include padding($side, $padding4);
}

@mixin padding5($side) {
  @include padding($side, $padding5);
}

@mixin padding6($side) {
  @include padding($side, $padding6);
}

@mixin padding7($side) {
  @include padding($side, $padding7);
}

@mixin padding8($side) {
  @include padding($side, $padding8);
}


@mixin margin($side: all, $value: 0) {
  @if $side == all {
    margin: $value;
  } @else {
    @each $item in $side {
      margin-#{ $item }: $value;
    }
  }
}

@mixin margin0($side) {
  @include margin($side, $margin0);
}

@mixin margin1($side) {
  @include margin($side, $margin1);
}

@mixin margin2($side) {
  @include margin($side, $margin2);
}

@mixin margin3($side) {
  @include margin($side, $margin3);
}

@mixin margin4($side) {
  @include margin($side, $margin4);
}

@mixin margin5($side) {
  @include margin($side, $margin5);
}

@mixin margin6($side) {
  @include margin($side, $margin6);
}

@mixin margin7($side) {
  @include margin($side, $margin7);
}

@mixin margin8($side) {
  @include margin($side, $margin8);
}


@mixin flexContainer($flow: row, $wrap: wrap, $justify: center, $align: center) {
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $justify;
  align-items: $align;
  // height: 100%;
}
