@import "../../styles/theme";
@import "../../styles/tools";

.App {
  height: 100vh;
  width: 100vw;

  & > .App-header {
    height: 100px;
    background-color: $primary300;
    color: $contrastWhite;
    @include padding8(left right);

    & > .header-title {

    }
  }

  & > .App-content {
    @include margin4(top);
    height: calc(100% - 116px);

    & > .content-title {
      @include padding8(left right);
      height: 32px;
    }

    & > .content-main {
      height: calc(100% - 48px);
      @include margin4(top);
      @include padding4(top bottom);
      @include padding8(left right);

      & > .card {
        & > .card-list,
        & > .card-form {
          padding: 1rem;
        }

        & > .card-list {
          background-color: rgba(210,210,210,1);

          & > .list-item {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        & > .card-form {
          background-color: rgba(255,255,255,1);

          & > .form-item {
            & label {

            }

            & input {
              width: 100%;
            }
          }

          & > .toolbar {
            & > .toolbar-button-box {
              & > button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
