@import '../../../styles/tools';
@import '../../../styles/theme';

.RadioInput {
  width: 100%;
  position: relative;

  &:focus {
    color: $primary300;
  }

  & > .radio-input--input-box {
    width: 100%;
    height: calc(#{ $fontSize4 } + #{ $padding1 * 2 });
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid rgba(210,210,210,1);

    & > .radio-item {
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;

      & > .radio-item--icon-box {
        width: 16px;
        height: 100%;
        flex: 0 0 auto;
        @include flexContainer(column, nowrap, center, center);
        cursor: pointer;
        /*display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;*/
      }

      & > .radio-item--label-box {
        width: calc(100% - 16px);
        @include padding2(left);
        @include padding4(right);
        height: 100%;
        flex: 0 0 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        user-select: none;
        cursor: pointer;
      }
    }
  }
}
