@import '../../../../../styles/tools';

.page--main-section {
  & .main-section--title {
    height: 32px;
  }

  & .main-section--central-panel {
    height: calc(100% - 32px);
  }

  & .form-item-box {
    height: 72px;
    @include padding2(left right);
    @include margin2(top bottom);
  }
}