@import '../../../../../../styles/theme';

.patient-card {
  width: 100%;
  height: 100%;
  padding: 16px;

  & > .patient-card--tabulator-box {
    height: 32px;
  }

  & > .patient-card--tab-content-box {
    height: calc(100% - 80px);
    background-color: $contrastWhite;
    border-radius: 0 0 8px 8px;
    padding: 16px 32px;
    box-shadow: 1px 1px 3px $default100;

    & .patient-card--form-control {
      height: 48px;
      margin-top: 8px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}