@import '../../../../../../styles/tools';

.Procedures {
  & .buttons {
    @include flexContainer(row, nowrap, flex-end, center);
    width: 100%;

    & .root--row-btn {
      width: 36px;
    }
  }
}