@import '../../../../../../styles/tools';

// .ulcer-ethiology,
// .ulcer-anamnesis,
// .ulcer-persistance,
.previous-treatment,
.ulcer-localization {

  & > .section-label {
    padding: 32px 0 0 !important;
  }
}

.ulcer-ethiology {
  & > .section-content {
    flex-flow: row wrap !important;

    & > .ethiology-item {
      width: 150px;
    }
  }
}

.ulcer-anamnesis,
.ulcer-persistance {

  & > .section-content {
    width: 100%;
    flex-flow: row wrap !important;

    & .years-input {
      max-width: 150px;
    }

    & .months-input {
      max-width: 150px;
    }

    & .duration-divider {
      padding: 0 16px;
    }
  }
}

.previous-treatment,
.ulcer-localization {

  & > .section-content {
    width: 100%;
  }
}