@import '../../styles/theme';
@import '../../styles/tools';

.PageBuilder {
  height: 100vh;
  width: 100vw;
  background-color: rgba(250,250,250,1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  & > .page--header {
    height: 80px;
    width: 100%;
    @include padding4(right left);
    background-color: $primary400;
    color: $contrastWhite;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  & > .page--main-section {
    width: 100%;
    height: calc(100% - 128px);
    @include padding4(all);
    background-color: $default50;
    color: $default300;
  }

  & > .page--toolbar {
    height: 48px;
    width: 100%;
    @include padding4(left right);
    background-color: $default200;
    color: $contrastWhite;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }
}