$default0Color   : rgba(0,0,0,0.0);
$default50Color  : rgba(0,0,0,0.05);
$default100Color : rgba(0,0,0,0.1);
$default150Color : rgba(0,0,0,0.15);
$default200Color : rgba(0,0,0,0.2);
$default250Color : rgba(0,0,0,0.25);

@mixin containerFlex($flow: row, $wrap: wrap, $justify: center, $align: center) {
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $justify;
  align-items: $align;
}

.CustomScrollbars {
  width: 100%;
  height: 100%;
  position: relative;

  & > .custom-scrollbars--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & > .content--scrolled-box {
      min-width: 100%;
      min-height: 100%;
    }
  }

  & > .custom-scrollbars--horizontal-scrollbar {
    width: calc(100% - 20px);
    height: 12px;
    position: absolute;
    z-index: 1000;
    left: 4px;
    bottom: 0;
    @include containerFlex(column, nowrap, flex-end, center);
    transition: height 300ms step-end, opacity 300ms step-end;
    transition-delay: 500ms, 500ms;

    & > .horizontal-scrollbar--bar {
      width: 100%;
      height: 6px;
      flex: 0 0 auto;
      background-color: $default50Color;
      transition: height 300ms, background-color 300ms;
      position: relative;

      & > .horizontal-bar--handler {
        width: 32px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $default100Color;
        transition: background-color 300ms ease-in;
        cursor: pointer;
      }

      &:hover,
      &[ data-active='true' ] {
        height: 12px;

        & > .horizontal-bar--handler {
          background-color: $default150Color;

          &:hover {
            background-color: $default250Color;
          }
        }
      }
    }
  }

  & > .custom-scrollbars--vertical-scrollbar {
    width: 12px;
    height: calc(100% - 20px);
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 4px;
    @include containerFlex(row, nowrap, flex-end, center);
    transition: opacity 300ms step-end, width 300ms step-end;
    transition-delay: 500ms, 500ms;

    & > .vertical-scrollbar--bar {
      width: 6px;
      height: 100%;
      flex: 0 0 auto;
      background-color: $default50Color;
      transition: width 300ms, background-color 300ms;
      position: relative;

      & > .vertical-bar--handler {
        height: 32px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $default100Color;
        transition: background-color 300ms ease-in;
        cursor: pointer;
      }

      &:hover,
      &[ data-active='true' ] {
        width: 12px;

        & > .vertical-bar--handler {
          background-color: $default150Color;

          &:hover {
            background-color: $default250Color;
          }
        }
      }
    }
  }

  &.scrollbars-hide {
    & > .custom-scrollbars--horizontal-scrollbar {
      opacity: 0;
      height: 0;
    }

    & > .custom-scrollbars--vertical-scrollbar {
      opacity: 0;
      width: 0;
    }

    &:hover,
    &[ data-active = 'true' ] {
      & > .custom-scrollbars--horizontal-scrollbar {
        opacity: 1;
        height: 12px;
      }

      & > .custom-scrollbars--vertical-scrollbar {
        opacity: 1;
        width: 12px;
      }
    }
  }
}