@import '../../styles/tools';

.Section {
  @include flexContainer(column, nowrap, flex-start, flex-start);

  & > .section-label {
    padding: 16px 0;
    font-weight: bold;
  }

  & > .section-content {
    @include flexContainer(column, nowrap, flex-start, flex-start);
  }
}