@import '../../../styles/tools';
@import '../../../styles/theme';

.Checkbox {
  width: 100%;

  &:focus {
    color: $primary300;
  }

  & > .checkbox--input-box {
    height: calc(#{ $fontSize4 } + #{ $padding1 * 2 });
    width: calc(#{ $fontSize4 } + #{ $padding1 * 2 });
    // @include padding1(top bottom);
    outline: none;
    @include flexContainer(column nowrap center center);

    & > svg {
      // width: 16px;
      // height: 16px;
      flex: 0 0 auto;
    }

    /*& > input {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid $default300;
      background-color: $transparent;
      font-size: $fontSize4;
    }*/
  }
}