@import '../../../styles/tools';
@import '../../../styles/theme';

$calendarBoxWidth: 226px;
$calendarBoxHeight: 258px;

@keyframes boxOpen {
  0% {
    visibility: hidden;
    opacity: 0;
    // height: 0;
  }

  1% {
    visibility: visible;
    opacity: 0.01;
    // height: #{ 0.01 * $calendarBoxHeight };
  }

  100% {
    visibility: visible;
    opacity: 1;
    // height: $calendarBoxHeight;
  }
}

.DateInput {
  width: 100%;
  position: relative;

  &:focus {
    color: $primary300;
  }

  & > .date-input--input-box {
    height: calc(#{ $fontSize4 } + #{ $padding1 * 2 });
    width: 100%;
    position: relative;

    & > input {
      display: block;
      width: 100%;
      height: 100%;
      @include padding1(top bottom);
      @include padding5(right);
      outline: none;
      border: none;
      border-bottom: 1px solid $default300;
      background-color: $transparent;
      font-size: $fontSize4;
    }

    & > .date-input--icon-box {
      height: 100%;
      width: calc(#{ $fontSize4 } + #{ $padding1 * 2 });
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  & > .date-input--calendar-box {
    height: $calendarBoxHeight;
    width: $calendarBoxWidth;
    @include padding4(all);
    position: absolute;
    z-index: 10000;
    top: #{ $fontSize4 * 2 + $padding2 * 2 };
    right: 0;
    background-color: $contrastWhite;
    border: 1px solid rgba(200,200,200,1);
    visibility: hidden;

    &.calendar-opened {
      animation-name: boxOpen;
      animation-duration: 300ms;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    & > .calendar--mmyy-box {
      height: 32px;
      width: 100%;
      text-align: center;
      font: 16px/100% normal Roboto, sans-serif;
      user-select: none;
      @include padding2(all);

      & > .mmyy-item {
        user-select: none;
        cursor: pointer;
        color: $default100;

        &:hover {
          color: $contrastBlack;
        }
      }
    }

    & > .calendar--dd {
      height: calc(100% - 32px);
      width: 100%;

      & > .calendar--week-days {
        height: 24px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        & > .calendar--wd {
          user-select: none;
        }
      }

      & > .calendar--week {
        height: 24px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 4px 0;

        & > .calendar--day {
          height: 100%;
          width: 24px;
          border: 1px solid $default50;
          cursor: pointer;
          text-align: right;
          padding-right: 2px;
          color: $default200;
          background-color: $default50;
          transition: border-color 300ms, color 300ms, background-color 300ms, box-shadow 300ms;
          user-select: none;

          &:hover {
            border-color: $default100;
          }

          &.current-month {
            // color: rgba(0,0,0,1);
            background-color: rgba(250,250,250,1);
            border-color: rgba(250,250,250,1);

            &:hover {
              border-color: $default100;
            }
          }

          &.current-date {
            background-color: $contrastWhite;
            // border-color: rgba(150,150,150,1);
            box-shadow: 1px 1px 2px $default200;
            color: $contrastBlack;
            text-align: center;
            padding-right: 0;
          }

          &:nth-of-type(6n),
          &:nth-of-type(7n) {
            color: $secondary100;

            &.current-date {
              color: $secondary400;

            }
          }
        }
      }
    }

    & > .calendar--month-list {
      width: 100%;
      height: 100%;
      overflow: auto;

      & .month-list--item {
        color: rgba(0,0,0,0.5);
        cursor: pointer;

        &.month-current {
          color: rgba(0,0,0,1);
          background-color: rgba(230,230,230,1);
        }

        &:hover {
          background-color: rgba(240,240,240,1);
        }
      }
    }

    & > .calendar--year-list {
      width: 100%;
      height: 100%;
      overflow: auto;
      position: relative;

      & .year-list--item {
        color: rgba(0,0,0,0.5);
        cursor: pointer;
        position: relative;

        &.year-current {
          color: rgba(0,0,0,1);
          background-color: rgba(230,230,230,1);
        }

        &:hover {
          background-color: rgba(240,240,240,1);
        }
      }
    }
  }
}