@import '../../../styles/tools';

.Tab {
  height: 100%;
  min-width: 150px;
  flex: 0 0 auto;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px 8px 0 0;
  color: rgba(130,130,130,1);
  position: relative;

  & > .Tab-label-box {
    padding: 0 4px 0 0;
    // height: 100%;
    flex: 0 0 auto;
    @include flexContainer(row, nowrap, center, center);
    /*display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;*/
    text-transform: uppercase;
    font-size: 14px;
    user-select: none;
  }

  & > .Tab-icon-box {
    padding: 0 0 0 4px;
    visibility: hidden;
    opacity: 0;
    // height: 100%;
    @include flexContainer(column, nowrap, center, center);
    /*display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;*/
    flex: 0 0 auto;
    transition: transform 200ms, opacity 200ms;
    color: rgba(150,150,150,1);
    font-size: 14px;

    /*&:hover {
      // transform-origin: center;
      // transform: scale(1.2,1.2);
      color: rgba(255,0,0,1);
    }*/
  }

  &:not( [ data-disabled="true" ] ) {
    & > .Tab-icon-box:hover {
      color: rgba(255,0,0,1);
    }

    &:hover {
      &:not( .selected ) > .Tab-label-box {
        color: rgba(0,0,0,1);
      }

      & > .Tab-icon-box {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.selected {
    color: rgba(77,94,187,1);
    font-weight: bold;
  }
}