$headerHeight: 32px;
$bodyRowHeight: 32px;

$default0Color   : rgba(0,0,0,0.0);
$default50Color  : rgba(0,0,0,0.05);
$default100Color : rgba(0,0,0,0.1);
$default150Color : rgba(0,0,0,0.15);
$default200Color : rgba(0,0,0,0.2);
$default250Color : rgba(0,0,0,0.25);
$default1000Color : rgba(0,0,0,0.25);
$defaultWhiteColor : rgba(255,255,255,1);

@mixin containerFlex($flow: row, $wrap: wrap, $justify: center, $align: center) {
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $justify;
  align-items: $align;
}

.CustomTable {
  // background-color: rgba(0,0,255,0.05);
  border: 1px solid $default250Color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  // overflow: hidden;
  flex: 0 0 auto;
  position: relative;

  & > .custom-table--fixed {
    height: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    @include containerFlex(column, nowrap, flex-start, flex-start);

    & > .fixed--head {
      height: $headerHeight;
      flex: 1 1 auto;
      @include containerFlex(column, nowrap, flex-start, flex-start);
      // background-color: rgba(0,0,255,0.2);
      max-width: 100%;
      overflow-x: hidden;
      box-shadow: 2px 0 2px $default100Color;
    }

    & > .fixed--body {
      flex: 0 0 auto;
      height: calc(100% - #{ $headerHeight });
      width: 100%;
      // background-color: rgba(0,0,255,0.3);
      overflow: hidden;
      box-shadow: 2px 0 2px $default100Color;
    }
  }

  & > .custom-table--scrollable {
    // background-color: rgba(0,0,255,0.4);
    height: 100%;
    flex: 1 1 auto;
    @include containerFlex(column, nowrap, flex-start, flex-start);

    & > .scrollable--head {
      height: $headerHeight;
      // background-color: rgba(0,0,255,0.5);
      overflow-x: hidden;
      @include containerFlex(column, nowrap, flex-start, flex-start);
    }

    & .scrollable--body {
      height: calc(100% - #{ $headerHeight });
      // background-color: rgba(0,0,255,0.6);
      overflow: hidden;
    }
  }

  .fixed--body,
  .scrollable--body {
    & .custom-table--tr {
      height: $bodyRowHeight;
    }
  }

  & .custom-table--tr {
    flex: 1 1 auto;
    height: 100%;
    @include containerFlex(row, nowrap, flex-start, flex-start);
    border-bottom: 1px solid $default250Color;

    & .custom-table--th {
      flex: 1 1 auto;
      height: 100% !important;
      position: relative;
      border-right: 1px solid $default250Color;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.th--movable {
        padding-right: 24px;
      }

      & > .th--move-handler {
        position: absolute;
        z-index: 1000;
        top: 4px;
        right: 4px;
        height: calc(100% - 8px);
        width: 20px;
        cursor: pointer;
        background-color: $default50Color;

        &:hover {
          background-color: $default100Color;
        }

        &:active {
          background-color: $default200Color;
          cursor: move;
        }
      }

      & > .th--resize-handler {
        position: absolute;
        z-index: 1000;
        height: 100%;
        width: 4px;
        right: 0;
        top: 0;
        border-right: 2px dashed $default1000Color;
        cursor: col-resize;
        opacity: 0;
        transition: opacity 300ms;

        &:hover {
          opacity: 1;
        }
      }
    }

    & .custom-table--td {
      flex: 0 0 auto;
      height: 100%;
      position: relative;
      border-right: 1px solid $default250Color;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    & > .custom-table--scrollable {
      & .scrollbars-hide {
        & > .custom-scrollbars--vertical-scrollbar {
          opacity: 1;
          width: 12px;
        }
      }
    }
  }
}